.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    height: 300px;
    width: 500px;
    cursor: pointer;
    border-radius: 5px;
}


.upload-button-div{
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top: 0.5rem;
    padding: 0.2rem 0.2rem 0 0.2rem;
    
}
.upload-button{
    padding: 0.5rem;
    width:50%;
    background-color: #1475cf;
    text-align: center;
    margin-right: 1rem;
    font-weight: bold;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size:medium;
    cursor: pointer;
}

.history-button{
    padding: 0.5rem;
    width:50%;
    background-color: #1475cf;
    text-align: center;
    font-weight: bold;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size:medium;
    cursor: pointer;
}

.history-button:hover,.upload-button:hover{
    background-color: #144ccf;
}


/* .uploaded-row{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius:5px;
    background-color:#e9f0ff;
}

.upload-content{
    display: flex;
    align-items: center;
} */