.chunked-container{
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.chunked-container::-webkit-scrollbar {
    display: none;
  }

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    height: 300px;
    width: 500px;
    cursor: pointer;
    border-radius: 5px;
}


.upload-button-div{
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top: 0.5rem;
    padding: 0.2rem 0.2rem 0 0.2rem;
    
}
.upload-button{
    padding: 0.5rem;
    width:50%;
    background-color: #1475cf;
    text-align: center;
    margin-right: 1rem;
    font-weight: bold;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size:medium;
    cursor: pointer;
}

.history-button{
    padding: 0.5rem;
    width:50%;
    background-color: #1475cf;
    text-align: center;
    font-weight: bold;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size:medium;
    cursor: pointer;
}

.history-button:hover,.upload-button:hover{
    background-color: #144ccf;
}

.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.chunked-header{
    position: absolute;
    top:0;
    left:0;
    width:100%
}

.extraction-status{
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1rem;
    
}